@{
    Bundles.Reference("/Content/themes/base/jquery.ui.all.css");
    Bundles.Reference("/Content/Site.css");
    Bundles.Reference("~/Scripts/lib");
    Bundles.Reference("signalr");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts()
</head>

    <body>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </body>
</html>
